
# Ignorera allt i data/
data/*

# Tillåt nya undermappar
!data/raw/
!data/output/

# Ignorera allt i dem
data/raw/*
data/output/*

# Men behåll .gitkeep-filer och underkataloger
!data/raw/.gitkeep
!data/raw/betyg/
data/raw/betyg/*
!data/raw/betyg/.gitkeep
!data/raw/franvaro/
data/raw/franvaro/*
!data/raw/franvaro/.gitkeep
!data/output/.gitkeep
